<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="margin-32px light-green">
    <h2>Dieses Projekt wurde mit Open Source Software erstellt.</h2>
    <h3>Verwendete Techologien:</h3>
    <mat-list class="licencing">
      <mat-list-item>
        <div matLine>
          <p style="float:left"><a href="https://angular.io/">Angular</a></p>
          <p style="float:right">MIT-License</p>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div matLine>
          <p style="float:left"><a href="https://spring.io/">SpringBoot</a></p>
          <p style="float:right">Apache License 2.0 </p>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div matLine>
          <p style="float:left"><a href="https://hibernate.org/">Hibernate</a></p>
          <p style="float:right">LGPL 2.1</p>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div matLine>
          <p style="float:left"><a href="https://www.postgresql.org/">PostgreSQL</a></p>
          <p style="float:right">PostgreSQL License</p>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div matLine>
          <p style="float:left"><a href="https://unsplash.com/">Background Images</a></p>
          <p style="float:right">Unsplash Licence</p>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div matLine>
          <p style="float:left"><a href="https://www.docker.com/">Docker</a></p>
          <p style="float:right">Apache License 2.0</p>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div matLine>
          <p style="float:left"><a href="https://www.keycloak.org/">Keycloak</a></p>
          <p style="float:right">Apache License 2.0</p>
        </div>
      </mat-list-item>
      <mat-list-item>
        <div matLine>
          <p style="float:left"><a href="https://nginx.org/">Nginx</a></p>
          <p style="float:right">2-clause BSD license</p>
        </div>
      </mat-list-item>
      <!--      <mat-list-item>-->
      <!--        <div matLine>-->
      <!--          <p style="float:left"><a href=""></a></p>-->
      <!--          <p style="float:right"></p>-->
      <!--        </div>-->
      <!--      </mat-list-item>-->
    </mat-list>
  </mat-card>
</div>
