<div fxLayout="column" fxLayoutAlign="center center">
  <div class="padding-top-64px">
    <mat-card class=" intro-text light-green margin-bottom-32px mat-elevation-z8">
      <h1 class="padding-top-32px padding-bottom-16px outline" fxLayoutAlign="center center">Willkommen zum Nachhaltigkeitsscanner</h1>
      <!--    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <h3>Die Welt befindet sich im Wandel. Die Klimaerwärmung hat einen Nachdenkprozess angestoßen, dessen Folgen bis
        in
        jeden Winkel des gesellschaftlichen Lebens reichen. Nachhaltigkeitsmanagement gewinnt für Unternehmen zunehmend
        an Bedeutung. Hier im <strong>Nachhaltigkeitsscanner</strong> gewinnt man einen Einblick in die
        Kunststoffverarbeiterbranche.
        Unterschiedlichste Umwelt- und Nachhaltigkeitsdaten können von einer Vielzahl von Unternehmen eingesehen und
        verglichen werden.
      </h3>
      <div class="full-width padding-16px" fxLayoutAlign="center center">
        <button mat-raised-button [color]="'primary'" [routerLink]="'/companies-overview'">
          Zum Unternehmensvergleich
        </button>
      </div>
    </mat-card>
  </div>
</div>
